.nav {
  background-color: #31CC20;
  display: inline-block;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

body {
  background-color: #C5FFBB;
}

.nav-item {
  display: inline;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.nav-link {
  color: #417F3A;
  padding: 1% 1% 1% 1%;
  text-decoration: none;
}

.nav-link:hover {
  color: #1F7F14;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: #31CC20;
}
